* {
    padding: 0;
    margin: 0;
}

/* -------------------------------------Index------------------------------------ */
/* ---------------------Page Accueil-------------------- */

body {
    background-image: url(../img/cloudbg.gif);
    background-size: cover;
    font-family: 'Press Start 2P', cursive !important;
    margin: 0;
    width: 100%;
    height: 100vh;
}

  /* ---------------------Page Accueil-------------------- */

.contentaccueil{
    padding: 3%;
}

.shifumimg{
    width: 30%;
}

/* ---------------------Button-------------------- */

.timbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.big-button {
    width: 30%;
}

.big-button:hover {
    width: 35%;
    transition: width 1s;
}

  /* -------------------------------------Page 1------------------------------------ */
  /* ----------------------------------------- */
  .imgchoix{
      width: 20% !important;
      padding-bottom: 5%;
  }

  .choice{
      font-size: 120%;
  }

  .container-fluid{
      text-align: center;
  }

  .boutons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .would{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5%;
  }

  .big-button2 {
    width: 50%;
}

.big-button2:hover {
    width: 60%;
    transition: width 1s;
}



/* -------------------------------------Page 2------------------------------------ */
  /* ----------------------------------------- */
.coin{
    width: 10%;
}

.imgjouer{
    width: 25%;
}

.cercle{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.formerond{
	height: 300px; 
	width: 300px; 
	background-color: #80cf11;
	border: none;
	border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formerond2{
    height: 300px; 
	width: 300px; 
	background-color: #80cf1163;
    border-color: #000000;
    border: dashed 5px;
	border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draghere{
    position: absolute;
    
}

.espacesign{
    margin-left: 10px;
    margin-right: 10px;
}

.signposition{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ----------------------Resultat-------------------- */
.leresultat{
    width: 100%;
    height: 100vh;
    font-weight: 500;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultat{
    display: none;
    position: absolute;
    overflow: hidden;
}

.playagain{
    width: 40%;
}

#playagain{
    margin-top: 5%;
}


/* ----------------------Drag&Drop-------------------- */





@media screen and (max-width:768px){
    .formerond{
        height: 150px; 
        width: 150px; 
        background-color: blue;
        border: none;
        border-radius: 50%;
    }


    /* ---------------------Page Accueil-------------------- */

  .contentaccueil{
    padding: 40%;
}

.shifumimg{
    width: 50%;
}

/* ---------------------Button-------------------- */

.timbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.big-button {
    width: 60%;
    padding-top: 20%;
}
  /* -------------------------------------Page 1------------------------------------ */
  /* ----------------------------------------- */
  .imgchoix{
    width: 100% !important;
    padding: 20%;
}

.choice{
    font-size: 130%;
}

.container-fluid{
    text-align: center;
}

.boutons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.would{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.big-button2 {
  width: 70%;
}

#friend, #computer{
    padding-top: 10%;
}

/* -------------------------------------Page 2------------------------------------ */
  /* ----------------------------------------- */
.coin{
    width: 15%;
}

.imgjouer{
    width: 40%;
}

p{
    padding: 0;
    margin-bottom: 0;
}

.cercle{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.formerond{
	height: 200px; 
	width: 200px; 
	background-color: #80cf11;
	border: none;
	border-radius: 50%;
}
.formerond2{
    height: 200px; 
	width: 200px; 
	background-color: #80cf1163;
    border-color: #000000;
    border: dashed 5px;
	border-radius: 50%;
}

/* ----------------------Resultat-------------------- */
.leresultat{
    width: 100vw;
    height: 100vh;
    font-weight: 300;
    font-size: 40px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#playagain{
    margin-top: 10%;
}

.playagain{
    width: 80%;
}

}