* {
    padding: 0;
    margin: 0;
}

/* -------------------------------------Index------------------------------------ */
/* ---------------------Page Accueil-------------------- */

body {
    background-image: url(../img/cloudbg.gif);
    background-size: cover;
    font-family: 'Press Start 2P', cursive !important;
    margin: 0;
}

  /* ---------------------Page Accueil-------------------- */

.contentaccueil{
    padding: 3%;
}

.shifumimg{
    width: 30%;
}

/* ---------------------Button-------------------- */

.timbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.big-button {
    width: 30%;
}

.big-button:hover {
    width: 35%;
    transition: width 1s;
}

  /* -------------------------------------Page 1------------------------------------ */
  /* ----------------------------------------- */
  .imgchoix{
      width: 20% !important;
      padding-bottom: 5%;
  }

  .choice{
      font-size: 120%;
  }

  .container-fluid{
      text-align: center;
  }

  .boutons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }

  .would{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5%;
  }

  .big-button2 {
    width: 50%;
}



/* -------------------------------------Page 2------------------------------------ */
  /* ----------------------------------------- */
.coin{
    width: 10%;
}

.imgjouer{
    width: 25%;
}

.cercle{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.formerond{
	height: 300px; 
	width: 300px; 
	background-color: blue;
	border: none;
	border-radius: 50%; 
}






@media screen and (max-width:768px){
    .formerond{
        height: 150px; 
        width: 150px; 
        background-color: blue;
        border: none;
        border-radius: 50%;
    }


    /* ---------------------Page Accueil-------------------- */

  .contentaccueil{
    padding: 50%;
}

.shifumimg{
    width: 50%;
}

/* ---------------------Button-------------------- */

.timbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.big-button {
    width: 60%;
    padding-top: 20%;
}
}