* {
    padding: 0;
    margin: 0;
}

/* -------------------------------------Index------------------------------------ */
/* ---------------------Page Accueil-------------------- */

body {
    background-color: #f4a460 !important;
    font-family: 'Press Start 2P', cursive !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* height: 100vh !important;
    width: 100vw; */
}

  /* ---------------------Page Accueil-------------------- */

  .contentaccueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgshifu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shifumimg{
    width: 80%;
}

  /* ---------------------Title-------------------- */
  .title{
    font-size: 70px;
    padding: 0;
    margin: 0;
  }

/* ---------------------Button-------------------- */

.timbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    border: solid 1px;
    border-color: #000000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
}
  
.big-button {
    padding: 1em 2em;
    border: 1px solid;
    border-radius: 1em;
    background-color: #ffe2bd;
    border-color: #000000;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

  /* -------------------------------------Page 1------------------------------------ */
  /* ----------------------------------------- */
  .imgchoix{
      width: 25% !important;
      padding-bottom: 5%;
  }

  .choice{
      font-size: 120%;
  }

  .container-fluid{
      text-align: center;
  }

  .boutons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }

  .would{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5%;
  }

  .big-button2 {
    padding: 3% 8%;
    border: 1px solid;
    border-radius: 1em;
    background-color: #ffe2bd;
    border-color: #000000;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}



/* -------------------------------------Page 2------------------------------------ */
  /* ----------------------------------------- */
.coin{
    width: 15%;
}

.imgjouer{
    width: 30%;
}

.cercle{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.formerond{
	height: 300px; 
	width: 300px; 
	background-color: blue;
	border: none;
	border-radius: 50%; 
}






@media screen and (max-width:768px){
    .formerond{
        height: 150px; 
        width: 150px; 
        background-color: blue;
        border: none;
        border-radius: 50%;
    }
}